.lista-suspensa{
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #4A4949;
  border-radius: 8px;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
}