.card-evento{
  background-color: #212121;
  display: flex;
  flex-direction: column;
  width: 282px;
  color: #FFF;
}

.card-evento-thumb{
  width: 100%;
  object-fit: cover;
}

.card-evento p, .card-evento h4{
  margin: 0;
}

.card-evento-conteudo{
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-evento-tema{
  background-color: #4A4949;
  border-radius: 4px;
  padding: 8px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 10%;
  text-transform: uppercase;
  width: max-content;
}

.card-evento-data{
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
}

.card-evento-titulo{
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
}